
@font-face {font-family: "museo100";
    src: url("./fonts/Museo Sans/Museo Sans Cyrl W03 100.eot");
    src: url("./fonts/Museo Sans/Museo Sans Cyrl W03 100.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Museo Sans/Museo Sans Cyrl W03 100.woff2") format("woff2"),
    url("./fonts/Museo Sans/Museo Sans Cyrl W03 100.woff") format("woff"),
    url("./fonts/Museo Sans/Museo Sans Cyrl W03 100.ttf") format("truetype"),
    url("./fonts/Museo Sans/Museo Sans Cyrl W03 100.svg#museo100") format("svg");
}

@font-face {font-family: "museo900";
    src: url("./fonts/Museo Sans 900/Museo Sans Cyrl W03 900.eot");
    src: url("./fonts/Museo Sans 900/Museo Sans Cyrl W03 900.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Museo Sans 900/Museo Sans Cyrl W03 900.woff2") format("woff2"),
    url("./fonts/Museo Sans 900/Museo Sans Cyrl W03 900.woff") format("woff"),
    url("./fonts/Museo Sans 900/Museo Sans Cyrl W03 900.ttf") format("truetype"),
    url("./fonts/Museo Sans 900/Museo Sans Cyrl W03 900.svg#museo900") format("svg");
}

@font-face {font-family: "robotob";
    src: url("./fonts/Roboto Bold/Roboto Bold V1.eot");
    src: url("./fonts/Roboto Bold/Roboto Bold V1.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Roboto Bold/Roboto Bold V1.woff2") format("woff2"),
    url("./fonts/Roboto Bold/Roboto Bold V1.woff") format("woff"),
    url("./fonts/Roboto Bold/Roboto Bold V1.ttf") format("truetype"),
    url("./fonts/Roboto Bold/Roboto Bold V1.svg#robotob") format("svg");
}

@font-face {font-family: "robotoc";
    src: url("./fonts/Roboto Condensed/Roboto Condensed.eot");
    src: url("./fonts/Roboto Condensed/Roboto Condensed.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Roboto Condensed/Roboto Condensed.woff2") format("woff2"),
    url("./fonts/Roboto Condensed/Roboto Condensed.woff") format("woff"),
    url("./fonts/Roboto Condensed/Roboto Condensed.ttf") format("truetype"),
    url("./fonts/Roboto Condensed/Roboto Condensed.svg#robotol") format("svg");
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('./fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.woff2') format('woff2'), 
       url('./fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.woff') format('woff'), 
       url('./fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('./fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}