@keyframes shine {
	to{ background-position: 100% center; }
}

@keyframes svg-shine {
	  0%{ fill: white; }
     30%{ fill: $color-first; }
	 80%{ fill: $color-second; }
	100%{ fill: blue; }
}

.header_primary{
	position: relative;
	height: 300px;
	background: linear-gradient(to right, white 0%, $color-first 100%);
	overflow: hidden;
}

.header__avatar{
	position: relative;
	left: -100px;
	max-width: none !important;
	opacity: .6;

	@media screen and (min-width: 769px){
		left: -50px;
	}
}

.header__name{
	position: absolute;
	top: 0;
	right: 40px;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: normal;
	font-family: 'museo100';
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-shadow: 5px 10px 5px rgba(0, 0, 0, .3);
	color: white;
	text-align: right;
	transition: text-shadow 1s, letter-spacing 1s;

	@media screen and (min-width: 480px){
		font-size: 2.5rem;
		line-height: 2.5rem;
		font-weight: normal;
		font-family: 'museo100';
		letter-spacing: 0.5rem;
	}

	@media screen and (min-width: 768px){
		font-size: 3.5rem;
		line-height: 3.5rem;
		font-weight: normal;
		font-family: 'museo100';
		top: 10px;
		right: 20px;
	}
}

.header__name_lastname{
	font-family: 'museo900';

	@media screen and (max-width: 768px){
		display: block;
	}
}

.header__name_post{
	display: block;
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: normal;
	text-transform: none;

	@media screen and (min-width: 480px){
		font-size: 1.5rem;
	}

	@media screen and (min-width: 768px){
		font-size: 2rem;
	}
}

.header__contacts{
	position: absolute;
    right: 40px;
    bottom: 10px;
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	font-family: 'robotob';
	color: white;

	@media screen and (min-width: 480px){
		width: 75%;
		right: 20px;
		bottom: 20px;
	}

	@media screen and (min-width: 640px){
		width: 65%;
	}

	@media screen and (min-width: 769px){
		width: 55%;
	}

	@media screen and (min-width: 1024px){
		width: 40%;
	}
}

.contacts__item{
	display: block;
	width: 100%;
	margin: 5px 0;
	text-align: right;
	transform: scale(1, 1.6);
	font-size: 12px;
	white-space: nowrap;

	@media screen and (max-width: 480px){
		&:last-child{
			margin-top: -5px !important;
		}
	}

	@media screen and (min-width: 480px){
		width: 50%;
		text-align: left;
		line-height: 14px;
	}

	&:nth-child(even){
		padding-left: 20px;
	}

	.glyphicon:before,
	&.glyphicon:before{
		margin-right: 10px;
		vertical-align: text-bottom;
		color: white;
		
		@media screen and (max-width: 480px){
			margin-right: 5px;
			vertical-align: bottom;
		}
	}
}

.contacts__item_link{
	color: white;

	main:not(.ie){
		&:active,
		&:focus,
		&:hover,
		&:active *,
		&:focus *,
		&:hover *,
		&:active:before,
		&:focus:before,
		&:hover:before{
			background: linear-gradient(to right, white 0%, $color-first 30%, $color-second 80%, blue 100%);
			background-size: 2000% auto;
			background-clip: text;
			text-fill-color: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: shine .5s linear 1 forwards paused;
			animation-play-state: running;
		}
	}

	.ie &:hover{
		color: $color-second;
	}
}

.contacts_item__svg_icon{
	position: relative;
	top: 2px;
	margin-right: 10px;
	fill: white;
	transition: 1s fill;

	@media screen and (max-width: 480px){
		margin-right: 5px;
	}

	.contacts__item_link:hover &,
	.contacts__item_link:active &,
	.contacts__item_link:focus &{
		animation: svg-shine .5s linear 1 forwards paused;
		animation-play-state: running;
	}
}